/* .cassowarynav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: blue;
  position: fixed; */

  .image-container {
    margin-top: 5px;
    padding-bottom: 30px;
  }

  .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .image-container {
    display: flex;
    align-items: center;
  }
  .border-bottom {
    border-bottom: 1px solid lightgrey;
  }
  .custom-logo {
    width: 90px;
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;

  }