
.footer{
	background-color:#368BD3;
	width: 100%;
    position: relative;
    display: block;
	border-style: solid;
	border-color: navy;
}

.footer p{
	color: white;
	text-align: center;
	padding: 10px 0;
	font-size: 15px;
}
